footer.page-footer {
    bottom: 0;
    color: #fff;
    padding-bottom:0;
    margin-bottom:0;
    /*margin-top:500px;*/
}
.mdb-color {
    background-color:#46B2B2 ;
}
.font-small {
    font-size: 1.2rem;
}
.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}
 footer{
     display: block;
 }
 .text-md-left {
    text-align: left !important;
}
 .container{
     max-width: 1140px;
     width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
 }
 .text-md-left {
    text-align: left !important;
}
 .pb-3, .py-3 {
    padding-bottom: 1rem !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.row{
    display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
 .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-lg-3,.col-md-3,.col-xl-3{
    position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
 h6 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 0;
}
 p {
    margin-top: 0;
    margin-bottom: 1rem;
}
 .ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-lg-2, .col-md-2,.col-xl-2{
    position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
footer.page-footer a {
    color: #fff;
}
a {
    background-color: transparent;
}
 .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-lg-2, .col-md-3,.col-xl-2{
    position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-lg-3,.col-md-4,.col-xl-3{
    position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-lg-8,.col-md-7{
    position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
footer.page-footer a {
    color: #fff;
}
a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
a {
    background-color: transparent;
}
strong {
    font-weight: 500;
}
.ml-lg-0, .mx-lg-0 {
    margin-left: 0 !important;
}
.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-lg-4,.col-md-5{
    position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.text-md-right {
    text-align: right !important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
 ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
 .list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}
.btn-floating.btn-sm {
    width: 40.15385px;
    height: 40.15385px;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.rgba-white-slight{
    background-color: rgba(255,255,255,0.1);
}
.btn-floating{
    position: relative;
z-index: 1;
padding: 0;
margin: 10px;
overflow: hidden;
vertical-align: middle;
cursor: pointer;
border-radius: 50%;
box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
transition: all 0.2s ease-in-out;
}
.mx-1 {
    margin-left: .25rem !important;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}
.btn-group-sm > .btn, .btn-sm {
    font-size: 1.875rem;
    line-height: 1.5;
}
.btn-floating.btn-sm i {
    font-size: 1.96154rem;
    line-height: 36.15385px;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}
.fab {
    font-family: "Font Awesome 5 Brands";
     font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
.btn-floating {
    cursor: pointer;
}
    .lbl{
        margin-left:38%;
        width:280px;
        display:inline-block;
        font-family:Garamond;
        font-weight:bold;
        font-size:23px;
    }
    .btn1{
        margin-left:43%;
    }
    .nav{
        height : 80px;
    }
    
